<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <form action="signup" method="post">
        <h3>SIGNUP</h3>

        <label for ="usernameSignup">Username</label>
        <input type="text" id="usernameSignup" name="username"><br>
        <label for="passwordSignup">PASSWORD</label>
        <input type="text" id="passwordSignup" name="password"><br>
        <input type="submit" value="SIGNUP">

    </form>
</div>
<div>
        <h3>LOGIN</h3>
    <form action="login" method="post">

        <label for ="usernameLogin">Username</label>
        <input type="text" id="usernameLogin" name="username"><br>
        <label for="passwordLogin">PASSWORD</label>
        <input type="text" id="passwordLogin" name="password"><br>
        <input type="submit" value="LOGIN">

    </form>
    </div>
</body>
</html>

